body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6fb;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 80%;
  height: 80px;
  border-radius: 99px;
  padding: 12px 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-top: 30px;
  position: fixed;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 420;
  height: 56px;
  padding: 16px 24px;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 94px;
  height: 56px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  color: #5e44ff;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 20px 120px 140px 120px;
  gap: 120px;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 128px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  padding: 8px 20px;
  background-color: #563aff1a;
  width: 236px;
  height: 40px;
}

.tag-content {
  text-align: center;
  color: #5e44ff;
}

.content-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 140px;
  gap: 12px;
}

.boost-product {
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 80px;
  text-align: center;
  margin-bottom: auto;
}

.product-content {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  text-align: center;
}

.start-trial {
  width: auto;
  height: auto;
  color: #ffffff;
  background-color: #1a1a2c;
  border-radius: 16px;
  padding: 12px 36px;
  gap: 6px;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  margin-top: 24px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  gap: 20px;
}

.box-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  background: #ffffff99;
}

.content-1st {
  width: auto;
  height: auto;
  border-radius: 24px;
  padding: 28px;
  gap: 40px;
  background-color: #d7e5f6;
}

.content-2nd {
  width: auto;
  height: auto;
  border-radius: 24px;
  padding: 28px;
  gap: 40px;
  background-color: #d8e0fc;
}

.content-3rd {
  width: auto;
  height: auto;
  border-radius: 24px;
  padding: 28px;
  gap: 40px;
  background-color: #e8dcf6;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  height: 600px;
  background-color: white;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

h2 {
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-style: Bold;
  font-size: 44px;
  text-align: center;
}

.msg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  color: #9393ac;
}

.message-container {
  height: 80px;
}

input {
  width: 590px;
  height: 20px;
  border-radius: 12px;
  border: 1px solid #e0e0ed;
  padding: 12px 12px 12px 16px;
  gap: 4px;
}

input::placeholder {
  color: #e0e0ed;
}

.submit {
  width: 100%;
  border-radius: 16px;
  padding: 16px 36px;
  gap: 6px;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  background-color: #1a1a2c;
  color: white;
}

.footers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.footer-button {
  background: none;
  background-color: transparent;
  border: none;
  color: inherit;
  box-shadow: none;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
}

.text1 {
  color: #9393ac;
}